<div class="container">
<h1>Registeration Form</h1>
<form [formGroup]=newUserForm>
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input formControlName="firstName" class="form-control"/>
    </div>
        <ng-container *ngIf="newUserForm.controls.firstName.touched && newUserForm.controls.firstName.invalid">
            <span class="error">Please enter a value</span>
        </ng-container>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input formControlName="lastName" class="form-control"/>
    </div>
    <ng-container *ngIf="newUserForm.controls.firstName.touched && newUserForm.controls.firstName.invalid">
        <span class="error">Please enter a value</span>
    </ng-container>
    <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input formControlName="password" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input formControlName="city" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input formControlName="phoneNumber" class="form-control"/>
    </div>
</form>
<div class="form-group">
    <button type="button" class="form-control btn btn-dark">SUBMIT</button>
</div>
</div>

